* {
  margin: 0;
  padding: 0;
}
body {
  /* animation: colorchange 120s infinite;
  -webkit-animation: colorchange 120s infinite; */
  background-color: #D02120;
}

/* @keyframes colorchange {
  0% {background: #FFBD66;}
  25% {background: #EF617B;}
  50% {background: #D3485D;}
  75% {background: #475677;}
  100% {background: #283150;}
}

@-webkit-keyframes colorchange {
  0% {background: #FFBD66;}
  25% {background: #EF617B;}
  50% {background: #D3485D;}
  75% {background: #475677;}
  100% {background: #283150;}
} */

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.responsive input {
  max-width: 100%;
  object-fit: contain;
}

/* #button .ripple {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7),
} */

.button-effect {
    position: relative;
    background-color: #4CAF50;
    /* border: none; */
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
}

.button-effect:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button-effect:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s


    