* {
  margin: 0;
  padding: 0;
}
body {
  /* animation: colorchange 120s infinite;
  -webkit-animation: colorchange 120s infinite; */
  background-color: #D02120;
}

/* @keyframes colorchange {
  0% {background: #FFBD66;}
  25% {background: #EF617B;}
  50% {background: #D3485D;}
  75% {background: #475677;}
  100% {background: #283150;}
}

@-webkit-keyframes colorchange {
  0% {background: #FFBD66;}
  25% {background: #EF617B;}
  50% {background: #D3485D;}
  75% {background: #475677;}
  100% {background: #283150;}
} */

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  flex-direction: column;
}

.responsive input {
  max-width: 100%;
  object-fit: contain;
}

.font-change {
      font-family: Futura;
      src: local('Futura Std');
}

span {
      font-family: Futura;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1, h2 {
  font-family: Futura;
  color: #FFFFFF;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
